body {
    margin: auto;
    padding: 40px;
    width: 1400px;
    background: #000 url('imgs/fogTree.jpg') center center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px black;
    background-size: cover;
}

img {
    border: 3px inset silver;
}

nav {
    text-align: center;
    position: fixed;
    margin: -16px 0px 0px 1095.5px;
    left: 50px;
    z-index: 1;
}

button {
    height: 45px;
    width: 230px;
}

a {
    color: skyblue;
}

a:hover {
    background: black url('imgs/cloud.jpg') center center no-repeat;
    color: white;
}

h1 {
    color: beige;
    text-shadow: 3px 4px black;
    font-size: 5em;
    text-align: center;
    background: rgb(75, 2, 2) url('imgs/www.jpg');
    border: 5px inset black;
}

h2 {
    color: rgba(255, 0, 0, 0.76);
    text-shadow: 0.1px 0.1px black;
    font-size: 3em;
    background: rgb(75, 2, 2) url('imgs/www.jpg') left repeat-x;
    border: 5px inset black;
    width: 490px;
    text-align: center;
}

.jobTit {
    font-size: 0.9em;
    color: #a50;
    /* text-shadow: 0.1px 0.1px white; */
}

h4.jobTit {
    font-size: 1.7em;
}

#img {
    border: 3px outset black;
    margin: -20px;
    padding: 10px;
    background: #000 url('imgs/w.jpg') top center no-repeat; 
    background-size: cover;
}

p {
    color:  silver;
    font-size: 35px;
    line-height: 1.5em;
}

.border {
    border: 5px inset maroon;
    margin: 10px 270px 10px 10px;
    background: #000 url(imgs/stone.jpg) top left;
    /* background-size: cover; */
    padding: 20px;
    z-index: 2;
}

ul>li {
    font-size: 35px;
    color: silver;
    line-height: 1.5em;
}

nav>ul {
    list-style: none;
}

nav li {
    font-size: 30px;
    background: gray url('imgs/www.jpg');
    border: 2px outset black;
    width: 260px;
    line-height: 1.6em;
}

li>a {
    text-decoration: none;
    color: red;
    text-shadow: none;
}

.h3 {
    font-size: 2em;
    color: #aaa;
    text-shadow: 0.1px 0.1px beige;
}
